# Configurações de E-mail (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-app
ADMIN_EMAIL=admin@escritorio.com.br

# Segurança
JWT_SECRET=super-secret-key-123
